body {
    font-family: 'Lato', sans-serif;
    margin: 0;
}

/* header section start */
header {
    /* background: rgba(229, 84, 115, 0.10); */
    /* background-color: #CF9FFF; */
    background-color: #E0B0FF;
    justify-content: space-around;
    display: flex;

}

.banner-texts {
    text-align: left;
    flex-direction: column;
    padding-left: 200px;
    padding-top: 140px;
    gap: 50px;
}

.banner-title {
    color: #272727;
    font-size: 60px;
    font-weight: 800;
    width: 710px;
}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    width: 600px;
    font-size: 18px;
    font-weight: 400;
    font-weight: 400;
    text-align: justify;
}

.btn-primary {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    background: #E55473;
    border: none;
    width: 160px;
    height: 64px;
    text-align: center;
    margin-top: 30px;
}

.banner-image {
    width: 635px;
    height: 800px;
    margin-bottom: 0px;
    padding-top: 50px;
    padding-right: 200px;
    align-items: bottom right;
}

/* header section end */

/* featured section start */
.featured-texts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.featured-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 0;
}

.featured-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    width: 550px;
}

.flower-container {
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin: 100px 250px 0px 250px;
    text-decoration-line: underline;
    background-size: auto;

}

.flower-pic {
    width: 310px;
    height: 428px;
    border-radius: 5px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding: 25px 25px 0px 25px;
}

/* featured section end */

/* who we are section start */
.we-are {
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin: 100px 250px 0px 250px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    color: rgba(39, 39, 39, 0.80);
    font-size: 20px;
    font-weight: 600;
    padding-top: 40px;
}

/* who we are section end */

/* deal section start */
.deal {
    background-color: #E0B0FF;
    display: flex;
    height: 520px;
    border-radius: 8px;
    justify-content: space-around;
    margin-top: 100px;
    padding-top: 200px;


}

.deal-texts {
    text-align: center;

}

.off {
    color: #E55473;
}

.deal-title {
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
}

.deal-description {
    display: flex;
    width: 594px;
    flex-direction: column;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}